.h {
    border: darkblue 10px;
    border-style: blue inset;
    padding: 5px;
    background: blue url(bg2.gif);
    color: yellow;
    text-align: center;
    
}
body {
    background: black url(bg.jpg);
    font-family: 'Montserrat', sans-serif;
}
.menu {
    border: orange 10px;
    border-style: black outset;
    padding: 5px;
    background: darkorange;
    margin-top: 25px;
}
.title {
    text-align: center;
}